* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #e5e5e5;
}

#app {
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  padding: 33px 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 304px;
  width: 100%;
  background: #f8f8f8;
  border-radius: 0px 24px 24px 0px;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.navigation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 33px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 30px;
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #878787;
  padding: 16px;
  -webkit-transition: background 200ms, color 200ms;
  transition: background 200ms, color 200ms;
  border-radius: 12px;
  width: 100%;
}

.navigation-link:hover {
  color: #503e9d;
  background: rgba(80, 62, 157, 0.3);
}

.navigation-link i {
  font-size: 24px;
  width: 24px;
}

.wrapper {
  width: 100%;
  padding: 32px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: text;
  position: relative;
}

.search-icon {
  font-size: 20px;
  position: absolute;
  left: 16px;
}

.search-input {
  background: white;
  border: none;
  outline: none;
  height: 48px;
  width: 100%;
  border-radius: 10px;
  padding-left: 48px;
  font-size: 14px;
  color: #626264;
}

.preview {
  margin-top: 27px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  gap: 30px;
}

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-text-title {
  font-size: 24px;
  line-height: 32px;
  color: #182135;
}

.main-text-link {
  color: #503e9d;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.main-text-link i {
  margin-left: 5px;
}

.channels-content {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.channels-item {
  background: #f7f7f7;
  padding: 32px 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 30px rgba(65, 84, 152, 0.08);
          box-shadow: 0px 6px 30px rgba(65, 84, 152, 0.08);
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.channels-item:hover {
  background: white;
}

.channels-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #182135;
  margin-top: 27px;
}

.channels-all {
  grid-column: span 2;
  background: #f7f7f7;
  text-align: center;
  padding: 10px;
  -webkit-box-shadow: 0px 6px 30px rgba(65, 84, 152, 0.08);
          box-shadow: 0px 6px 30px rgba(65, 84, 152, 0.08);
  border-radius: 8px;
  color: #503e9d;
  background: #f7f7f7;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.channels-all:hover {
  background: white;
}

.rates-content {
  margin-top: 27px;
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 30px rgba(65, 84, 152, 0.08);
          box-shadow: 0px 6px 30px rgba(65, 84, 152, 0.08);
  border-radius: 8px;
  padding-bottom: 10px;
}

.rates-header {
  padding: 16px;
  background: rgba(148, 90, 187, 0.2);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #503e9d;
  font-weight: 600;
}

.rates-item {
  padding: 10px 20px;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */